.heading{
    padding-top: 30px;
    text-align: center;
    font-size: 100px;
    color:maroon;
    font-family: fantasy;
}

.button{
    padding-left: 500px;
    padding-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    }

body{
    background-image: url("https://img.freepik.com/free-vector/https://img.freepik.com/premium-photo/woman-reading-news-online-her-tablet-from-living-room_154993-317.jpg?ga=GA1.1.1471883279.1729578496&semt=ais_hybrid-breaking-news-background_23-2151180693.jpg?ga=GA1.1.1471883279.1729578496&semt=ais_hybrid");
    background-repeat: no-repeat;
    background-size: cover;
}

