body{
    background-image: url("https://img.freepik.com/premium-vector/time-movie-illustration_187241-124.jpg?ga=GA1.1.1471883279.1729578496&semt=ais_hybrid");
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
}
h1{
    text-align: center;
    color: darkorange;
}