body{
    background-image: url("https://img.freepik.com/free-vector/president-s-day-concept-flat-design_23-2148799917.jpg?ga=GA1.1.1471883279.1729578496&semt=ais_hybrid");
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
}
h1{
    text-align: center;
    color: darkorange;
}