body{
    background-image: url("https://img.freepik.com/free-photo/sport-news-with-camera-recording_23-2149900284.jpg?ga=GA1.1.1471883279.1729578496&semt=ais_hybrid");
    background-repeat: no-repeat;
    background-size: cover;
    color:darkgoldenrod;
}
h1{
    text-align: center;
    color: darkorange;
}